
body{
    background-color: #ffffff;
    display: flex;
    justify-content: center;

    font-family: Arial;
    margin: 0;

}

h1{
    font-weight: bold;
    margin-bottom: 0.4rem;
    text-align: center;
}

.calc-container {
    border: 2px solid #e3dfdf;
    border-radius: 0.5rem;
    padding: 0.35rem;
    background: linear-gradient(150deg, #8bdcc1 5%, #e2f6e5 80% );
margin-bottom: 2rem;
}

.main-container {

    padding-top: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100%;
    background-color: #E2F6E5FF;

}

@media (min-width: 768px) {

}


.drinks-container{



    display: grid;
    grid-template-columns: auto auto auto;
    gap: 0.1rem;



    text-align: center;
    font-size: 30px;
    border-radius: 0.5rem;

}

.display-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.drink-button{

    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2), -1px -1px 2px rgba(0, 0, 0, 0.1);

    height: 4.6rem;
    width: 6.5rem;

    margin: 0.5rem;

    cursor: pointer;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(40px); /* Blur effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari */

    border: none;
    border-radius: 0.5rem;
    font-family: inherit;

    font-size: 0.8rem;
    text-align: center;
    touch-action: manipulation;
}


.drink-button:hover{
    background-color: rgba(255, 255, 255, 0.69);
}

.receipt-container{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.receipt-and-display {
    margin-top: 1rem;
}

.horizontal-line {
    height: 1px;
    width: 100%;
    background-color: #000;
    margin-top: 1rem;

}


.bottom-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;

}


#to-fullscreen{
    padding: 0rem;
    font-size: 0.7rem;
    height: 3rem;
    width: 6rem;
}
#delete{
    font-size: 0.7rem;
    height: 3rem;
    width: 6rem;
    background-color: #ff6161;
}

.split {
    grid-column-start: 1;
    grid-column-end: 4;
}

#first{
    margin: 0.5rem;
}

.titel-flex{
    display: flex;

}

.img-titel{
    width: 6rem;
    height: 6rem;
    text-align: center;
}