@import url("../styles.css");

.main-container{

    background-color: #ffffff;
    width: 80%;

}


.calulation-container-container{


    height: 80%;

}

.drinks-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;




}

.drink-button font{}
.drink-button{

    height: 4rem;
    width: 8rem;
    padding: 1rem 2rem;

    cursor: pointer;


}


