@import url("../styles.css");

.main-container{

    background-color: #ffffff;
    width: 80%;

}


.calulation-container-container{


    height: 80%;

}

.drinks-container{
    display: grid;

    grid-template-columns : repeat(auto-fill, minmax(6.25em, 1fr));

}

.drink-button font{}
.drink-button{

    height: 4rem;
    width: 8rem;
    padding: 1rem 2rem;

    cursor: pointer;


}


