@import url("../styles.css");

.main-container{

    background-color: blueviolet;
    width: 90%;
}

.calculation-container{
    background-color: darksalmon;
}

#button4{

    width: 10em;
    height: 10em;
}